<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pets</title>
</head>
<body>
    <header>
        <div class="">
            {% for pet in allpets %}
                <div class="card">
                    <div class="card-todo">
                        <h4 class="titulo">{{ pet.nome }}</h4>
                        <p>{{ pet.idade}}</p>
                        <p>{{ pet.especie}}</p>
                        <p>{{ pet.observacoes}}</p>
                        <a href="{{ url_for('deletePet') }}">Deletar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>