<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Pets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/b42168277e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  

  <Style>
    nav{
    display: inline-block;
    position: relative;
    margin-right: 0;
    background-color: #4CAF50;
    width: 100%;
    }

    div {
      margin-left: 0.2%;
      margin-top: 1%;
      padding: 0%;
      border-radius: 8px;

    }

    .card {
      border-radius: 15px;
      border-color: rgb(184, 178, 178);
    }

    p {
      margin: 0%;
    }

    a {

      float: right;
      margin: 0.3%;

    }


    footer{
    display: inline-block;
    position: relative;
    bottom: 0;
    padding-right: 0;
    background-color: #4CAF50;
    width: 100%;
    height: 180px;  
  }

    /* footer,
    a {
      text-align: center;
      margin-top: 2px;
    } */
  </Style>

</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-inverse" style="background-color:#4CAF50;">
      <a class="navbar-brand" href="{{ url_for('home') }}">Página Inicial <i class="fa-solid fa-dog fa-sm" style="color: #f8f1f1;"></i></a>
      {% if current_user.is_authenticated %}

      <div class="btn-group dropleft">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" style="color: black;" href="#">Perfil
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </a>
          <a class="dropdown-item" style="color: black;" href="#">Editar perfil
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z"/>
            </svg>
          </a>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Sair
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
          </a>
        </div>
      </div>
      {% endif %}

    </nav>
    <h4 style="text-align: center;">Meus pets</h4>
  </header>
  {% for pet in pets %}
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">PET INFO.: {{pet.nome}}</h5>
      <hr style="height:1px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0)">
      <p class="card-text">Idade: {{pet.idade}} ano(s)</p>
      <p class="card-text">Espécie: {{pet.especie}}</p>
      <p class="card-text">Observações: {{pet.observacoes}}</p>
      <a href="" class="btn btn-danger" data-toggle="modal" data-target="#meuModal1{{ pet.id }}">Deletar</a>
      <a href="" class="btn btn-primary" data-toggle="modal" data-target="#meuModal{{ pet.id }}">Editar</a>

    </div>
  </div>

  <div id="meuModal{{ pet.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar dados</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form method="post" action="{{url_for('updatePet', id=pet.id)}}">
            <label>Nome: </label>
            <input type="text" class="form-control" aria-label="Default" name="nome" value="{{pet.nome}}" required>
            <label>Idade: </label>
            <input type="number" min="0" class="form-control" aria-label="Default" name="idade" value="{{pet.idade}}" required>
            <label>Espécie: </label>
            <input type="text" class="form-control" aria-label="Default" name="especie" value="{{pet.especie}}" required>
            <label>Observações (opcional): </label>
            <input type="text" class="form-control" aria-label="Default" name="observacoes" value="{{pet.observacoes}}">
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary" value="Submit">Salvar Alterações</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="meuModal1{{ pet.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deseja excluir este pet?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
              <a href="{{ url_for('deletePet', id=pet.id) }}" class="btn btn-danger">Confirmar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <br>
  <h4 style="color: #4CAF50; text-align: center; display: inline-block; margin-left: 50%; text-decoration: none; font-size: medium;"><a href="{{ url_for('home') }}">voltar ↤</a></h4>


  <br>
  <br>

  <footer>
    <div id="footer_content">
      <br>
      <div style="padding-left: 10%;" id="footer_contacts">
        <i class="fa-solid fa-dog fa-xl" style="color: #f8f1f1;"> | PetConfy</i>
      </div>
      <hr>
      <div style="float: left;" id="footer_social_media">
        <a href="#" class="footer-link" style="color: white;" id="instagram">Instagram
          <i class="fa-brands fa-instagram"> | </i>
      </a>
      <a href="#" class="footer-link" style="color: white;" id="facebook">Facebook
          <i class="fa-brands fa-facebook-f"> | </i>
      </a>
      <a href="" class="footer-link" style="color: white;" id="twitter">Twitter
        <i class="fa-brands fa-twitter"> | </i>
      </a>
      <a href="" style="margin-right: 30%; text-decoration: none; color: white;" class="footer-link" id="whatsapp">Whatsapp
        <i class="fa-brands fa-whatsapp"> | </i>
      </a>
      </div>
    </div>
    
  </footer>

</body>

</html>