<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="utf-8" />
<title>Usuário</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<style>
  div{
    text-align: center;
    margin-top: 6%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
  }
  br, h4{
    margin-top: 6%;
  }
  
  
</style>
</head>

<body>
    <div>
  
        <a href="{{ url_for('home') }}">Página inicial</a>
        {% if current_user.is_anonymous %}
        <br>
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <p>Bem vindo(a)! {{current_user.nome}}</p>
        
        
      </div>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">testando</p>
          <a  href="#" class="btn btn-info">Serviço2</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a short card.</p>         
          <a  href="#" class="btn btn-info">Serviço2</a>     
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">testando.</p>
          <a  href="{{ url_for('cadastroPet')}}" class="btn btn-info">Cadastrar Pets</a>
          <a  href="{{ url_for('getPet')}}" class="btn btn-info">Mostrar pets cadastrados</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">testando</p>
          <a  href="#" class="btn btn-info">Serviço3</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in</p>
          <a  href="#" class="btn btn-info">Serviço4</a>
        </div>
      </div>
    </div>
  </div>
<br>
  <h4 style="color: rgb(50, 50, 224); text-align: center; text-decoration: none;"><a href="{{ url_for('logout') }}">Sair</a></h4>
  {% endif %}
  <br>
</body>

</html>